<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sorting_algorithm_education_platform.mapper.BubbleSortMapper">
    <select id="findNextStep" resultType="com.example.sorting_algorithm_education_platform.entity.BubbleSort">
        SELECT *
        FROM bubble_sort
        WHERE practice_id = #{practiceId} AND process_num > #{processNum}
        ORDER BY process_num ASC
            LIMIT 1;
    </select>
    <select id="findCurrList" resultType="string">
        SELECT curr_list
        FROM bubble_sort
        WHERE practice_id = #{practiceId} AND process_num = #{processNum}
    </select>
    <select id="findSolution" resultType="string">
        SELECT curr_list
        FROM bubble_sort
        WHERE practice_id = #{practiceId} AND process_num = (
            SELECT MAX(process_num) FROM bubble_sort WHERE practice_id = #{practiceId}
        )
    </select>
    <insert id="insertSort" parameterType="com.example.sorting_algorithm_education_platform.entity.BubbleSort">
        INSERT INTO bubble_sort (
            exchange, pre_pos, post_pos, curr_list, practice_id, process_num, user_id, turn
        ) VALUES (
            #{exchange}, #{prePos}, #{postPos}, #{currList}, #{practiceId}, #{processNum}, #{userId}, #{turn}
        )
    </insert>
    <delete id="deleteSort" parameterType="com.example.sorting_algorithm_education_platform.entity.BubbleSort">
        DELETE FROM bubble_sort
        WHERE user_id = #{userId} AND practice_id = #{practiceId}
    </delete>
    <select id="countByPracticeIdAndUserId" resultType="int">
        SELECT COUNT(*)
        FROM bubble_sort
        WHERE user_id = #{userId}
          AND practice_id = #{practiceId}
    </select>
</mapper>
