<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sorting_algorithm_education_platform.mapper.InsertSortMapper">
    <select id="findNextStep" resultType="com.example.sorting_algorithm_education_platform.entity.InsertSort">
        SELECT *
        FROM insert_sort
        WHERE practice_id = #{practiceId} AND process_num > #{processNum}
        ORDER BY process_num ASC
        LIMIT 1;
    </select>
    <select id="findCurrList" resultType="string">
        SELECT curr_list
        FROM insert_sort
        WHERE  practice_id = #{practiceId} AND process_num = #{processNum}
    </select>
    <select id="findSolution" resultType="com.example.sorting_algorithm_education_platform.entity.InsertSort">
        SELECT *
        FROM insert_sort
        WHERE practice_id = #{practiceId}
    </select>
    <insert id="insertSort" parameterType="com.example.sorting_algorithm_education_platform.entity.InsertSort">
        INSERT INTO insert_sort (
            pivot, order_pos, sorted_list, unsorted_list, curr_list, practice_id, user_id, process_num, process_step, turn
        ) VALUES (
                     #{pivot}, #{orderPos}, #{sortedList}, #{unsortedList}, #{currList}, #{practiceId}, #{userId}, #{processNum}, #{processStep}, #{turn}
                 )
    </insert>
    <delete id="deleteSort" parameterType="com.example.sorting_algorithm_education_platform.entity.InsertSort">
        DELETE FROM insert_sort
        WHERE user_id = #{userId} AND practice_id = #{practiceId}
    </delete>
</mapper>
