<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sorting_algorithm_education_platform.mapper.SelectSortMapper">
    <select id="findNextStep" resultType="com.example.sorting_algorithm_education_platform.entity.SelectSort">
        SELECT *
        FROM select_sort
        WHERE practice_id = #{practiceId} AND process_num > #{processNum}
        ORDER BY process_num ASC
        LIMIT 1;
    </select>
    <select id="findCurrList" resultType="string">
        SELECT curr_list
        FROM select_sort
        WHERE practice_id = #{practiceId} AND process_num = #{processNum}
    </select>
    <select id="findSolution" resultType="string">
        SELECT curr_list
        FROM select_sort
        WHERE practice_id = #{practiceId} AND process_num = (
            SELECT MAX(process_num) FROM select_sort WHERE practice_id = #{practiceId}
        )
    </select>
    <insert id="insertSort" parameterType="com.example.sorting_algorithm_education_platform.entity.SelectSort">
        INSERT INTO select_sort (
            exchange, min_pos, cur_pos, curr_list, practice_id, process_num, user_id, turn
        ) VALUES (
                     #{exchange}, #{minPos}, #{curPos}, #{currList}, #{practiceId}, #{processNum}, #{userId}, #{turn}
                 )
    </insert>
    <delete id="deleteSort" parameterType="com.example.sorting_algorithm_education_platform.entity.SelectSort">
        DELETE FROM select_sort
        WHERE user_id = #{userId} AND practice_id = #{practiceId}
    </delete>
</mapper>